<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Karuna Sign Out</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../lib/bootstrap.min.css">

    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="../style/accounts.css">
  </head>

  <body class="text-center">
    <!-- Show while checking for login -->
    <div id="preValidate">
      <p id="validateMsg">Clearing credentials ...</p>
    </div>

    <!-- Bootstrap JS, with dependencies Popper.js and jQuery -->
    <script src="../lib/jquery-3.5.1.slim.min.js"></script>
    <script src="../lib/bootstrap.bundle.min.js"></script>

    <!-- Axios for ajax requests -->
    <script src="../lib/axios.min.js"></script>

    <!-- Store2 and js.cookie for storage -->
    <script src="../lib/store2.min.js"></script>
    <script src="../lib/js.cookie.min.js"></script>

    <!-- Our custom javascript -->
    <script src="logout.js"></script>
  </body>
</html>
