#karunaHead {
    color: black;
    border-bottom: 3px solid rgb(88, 85, 85);
    display: inline;
    padding: 0px 10px 10px 10px;
    list-style-type: none;
    text-align: center;
}

#karunaHead li {
    display: inline-block; 
    padding: 20px;
}

#karunaTitle {
    background-color: white;
}

ul {
    list-style-type: none;
}