<!doctype html>
<html lang="en">
  <head>
    <title>Karuna - DB Admin - Teams Management</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../lib/bootstrap.min.css">

    <style>
    </style>
  </head>
  <body>
    <!-- Basic grid -->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="pb-2 mt-4 mb-2 border-bottom">
            <h1>Karuna Database - Team Management</h1>
          </div>
          <h3 class="pt-2 mb-4">Teams currently in Karuna Database:</h3>
      </div>
      </div>

      <div class="row">
        <div class="col-12">
          <p>TODO, show teams here</p>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS, with dependencies Popper.js and jQuery -->
    <script src="../lib/jquery-3.5.1.slim.min.js"></script>
    <script src="../lib/bootstrap.bundle.min.js"></script>

    <!-- Axios for ajax requests -->
    <script src="../lib/axios.min.js"></script>

    <!-- Store2 for local storage -->
    <script src="../lib/store2.min.js"></script>

    <!-- Custom Scripting -->
    <script src="dbManagement.js" type="module"></script>
  </body>
</html>
