<!doctype html>
<html lang="en">
  <head>
    <title>Manual Karuna Backend</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../lib/bootstrap.min.css">

    <!-- Tiny Markdown Editor -->
    <link rel="stylesheet" type="text/css" href="../lib/tiny-mde.min.css" />

    <style>
      /* Styling for the chat history list */
      .messageList {
        list-style-type: none; height: 250px;
        margin: 0; padding: 0;
        background-color: bisque;
        overflow-y: auto;
      }
      .messageList li { padding: 5px 10px; font-size: 12px; white-space: pre-wrap; }
      .messageList li.clientMessage { background-color: rgb(192, 240, 192); text-align: left; }
      .messageList li.karunaMessage { background-color: rgb(240, 192, 192); text-align: right; }

      /* Styling for the active message box */
      .activeTyping {
        height: 50px; margin: 0; padding: 5px 10px;
        border: 1px solid lightgrey; font-size: 12px;
        overflow-y: auto; white-space: pre-wrap;
      }

      /* Styling for the canned message sidebar */
      #cannedMessageSidebar {
        max-height: 370px;
        overflow-x: auto;
      }
    </style>
  </head>
  <body>
    <!-- Basic grid -->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="pb-2 mt-4 mb-2 border-bottom">
            <h1>Manual Karuna Backend Interface</h1>
          </div>
          <p class="pt-2 pb-2 mb-s">With this backend tool, you can view all active sessions and respond back with any text. Your response will be
            shown to the connected user as if it was coming from the Karuna plugin. This tool is intended only for design
            and debugging purposes and is not meant for use in a production environment.
          </p>

          <p class="pt-2 pb-2 mb-s">Each connected user will have one tab below for each context (teams, discord, or slack) they have open in a
            tab in their browser. You will see what they are typing in the box and can type your own response. A history of seen and sent messages
            is kept for each tab. If the user closes the tab, the session will be marked in-active until they reopen it. You cannot send a message
            to an in-active tab.
          </p>
          <h3 class="pt-2 mb-4">Karuna Sessions:</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          
          <!-- Display interactive tabs, one for each session -->
          <ul id="tabHeader" class="nav nav-tabs" role="tablist">
          </ul>

          <!-- All tab content -->
          <div id="tabContent" class="tab-content pt-1 pb-1" style="border: 1px solid #dee2e6; border-top: none;">
          </div>
        </div>
        <div class="col-6">
          <div id="cannedMessageSidebar">
            <div class="card">
              <div class="card-header" id="messageGroupHeading1">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#messageGroupCollapse1" aria-expanded="true" aria-controls="messageGroupCollapse1">
                    Collapsible Group #1
                  </button>
                </h5>
              </div>
          
              <div id="messageGroupCollapse1" class="collapse show" aria-labelledby="messageGroupHeading1" data-parent="#cannedMessageSidebar">
                <div class="card-body">
                  <ul id="messageGroupList1" class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="messageGroupHeading2">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#messageGroupCollapse2" aria-expanded="false" aria-controls="messageGroupCollapse2">
                    Collapsible Group #2
                  </button>
                </h5>
              </div>
              <div id="messageGroupCollapse2" class="collapse" aria-labelledby="messageGroupHeading2" data-parent="#cannedMessageSidebar">
                <div class="card-body">
                  <ul id="messageGroupList2" class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="messageGroupHeading3">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#messageGroupCollapse3" aria-expanded="false" aria-controls="messageGroupCollapse3">
                    Collapsible Group #3
                  </button>
                </h5>
              </div>
              <div id="messageGroupCollapse3" class="collapse" aria-labelledby="messageGroupHeading3" data-parent="#cannedMessageSidebar">
                <div class="card-body">
                  <ul id="messageGroupList3" class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
 
      <div class="row">
        <div class="col-12">
          <div class="border rounded-bottom p-3 mt-2">
            <div class="border border-secondary border-bottom-0" id="markdownToolbar"></div>
            <div class="border border-secondary border-top-0" style="height: 150px; overflow-y: auto" id="markdownEditor"></div>
            <button class="btn btn-outline-secondary w-100 mt-2" type="button" id="sendMessage">Send</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS, with dependencies Popper.js and jQuery -->
    <script src="../lib/jquery.slim.min.js"></script>
    <script src="../lib/bootstrap.bundle.min.js"></script>

    <!-- Axios for ajax requests -->
    <script src="../lib/axios.min.js"></script>

    <!-- Store2 and cookie.js for manipulating storage -->
    <script src="../lib/store2.min.js"></script>
    <script src="../lib/js.cookie.js"></script>

    <!-- Web sockets served from local server -->
    <script src="../lib/socket.io.min.js"></script>

    <!-- Tiny Markdown Editor-->
    <script src="../lib/tiny-mde.min.js"></script>

    <!-- Custom Scripting -->
    <script src="emeraldCity.js" type="module"></script>
  </body>
</html>
