<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Karuna Sign In Form</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Plaster:300,400,500,700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  </head>

  <body>
    <!-- Show while checking for login -->
    <div id="preValidate" style="width: 100%; padding: 10px;">
      <p id="validateMsg" style="width: 100%; text-align: center;">Checking for prior sign in ...</p>
    </div>

    <!-- React rendering root -->
    <div id="root"></div>

    <!-- Compiled react Javascript -->
    <script src="LoginPage.js"></script>
  </body>
</html>
